@{
    ViewBag.Title = "About";
}

@* Label *@
<div class="row">
    <div class="col-lg-6 mx-auto">
        <h1 class="display-5">About</h1>
    </div>
</div>

@* About *@
<div class="row">
    <div class="col-lg-6 mx-auto">
        <div class="border border-dark bg-dark rounded p-2">
            <h1 class="display-6 pb-1">
                Medical Appointment Managment
            </h1>
            <p class="lead">
               This is the biggest platform where patients and doctors can make an appointment, manage their appointments and have a complete overview of their schedules
            </p>
        </div>
    </div>
</div><br>

@* Login *@
<div class="row">
    <div class="col-lg-6 mx-auto">
        <div class="border border-dark bg-dark rounded p-2">
            <h1 class="display-6 pb-1">
               I am interest!
            </h1>
            <p class="lead">
               Join our's platform<br/>
               <a href="/Patients/Create" type="button" class="btn btn-outline-primary mt-2">Register</a>
            </p>
        </div>
    </div>
</div><br>