@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-lg-6 mx-auto">
        <h1 class="display-5">Welcome</h1>
    </div>
</div>

<div class="row">
    <div class="col-lg-6 mx-auto">
        <div class="border border-dark bg-dark rounded p-2">
            <p class="lead">Welcome to Medical Appointment Managment software.</p>
        </div>
    </div>
</div><br>

<div class="row">
    <div class="col-lg-6 mx-auto">
        <div class="border border-dark bg-dark rounded p-2">
            <h1 class="display-6 pb-1">Patient</h1>
            <p class="lead">Are you a patient already registered platform?</p>
            <a href="/Patients/Login" type="button" class="btn btn-outline-primary">Login</a>
            <br>
            <a href="/Patients/Create" class="fw-light">I don't have registered</a>
        </div>
    </div>
</div><br>

<div class="row">
    <div class="col-lg-6 mx-auto">
        <div class="border border-dark bg-dark rounded p-2">
            <h1 class="display-6 pb-1">Doctor</h1>
            <p class="lead">Login to manage your appointments</p>
            <a href="/Doctors/Login" type="button" class="btn btn-outline-primary">Login</a>
        </div>
    </div>
</div>